body
{
    background-color: rgb(255, 255, 255);
    margin: 0;

}

button
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.cilindro{
    position: relative;
    width: 200px;
    height: 20px;
    background-color: black;
}
#bajo{
    position: absolute;
    z-index: auto;
    left: 300px;
    top : 10px;
}
