body
{
    background-color: darkkhaki;
    margin: 0;

}

button
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.cilindro{
    position: relative;
    width: 20px;
    height: 250px;
    background-color: black;
    border-radius: 65px/25px;
}